body {
    background-color: #0081ff;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page {
    width: 80%;
    height: 80%;
    padding-top: 50px;
}

.logo img {
    width: 180px;
    height: 35.49px;
}

.login_table {
    width: 500px;
    height: 350px;
    background-color: white;
    padding: 18.75px;
    margin: 0 auto;
    border-radius: 5px;
}

.login_table>h3 {
    text-align: left;
    padding-left: 15px;
}

#emailLabel {
    text-align: left;
    padding-left: 15px;
    margin-bottom: 10px;
}

#passwordLabel {
    text-align: left;
    padding-left: 15px;
    margin-bottom: 10px;
}

.emailBox {
    width: 452px;
    height: 42.5px;
    padding: 0 7.5px;
    border: 1.5px solid rgb(227, 227, 227);
    margin-bottom: 7.5px;
    border-radius: 10px;
}

.nextButton {
    background-color: #0081ff;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 6.25px 97.175px;
    padding: 7.5px 10px;
    cursor: pointer;
    width: 187.5px;
    height: 38.2px;
    border-radius: 10px;
    text-align: center;
}

.nextButton:hover {
    background-color: #006dda;
}

#signUp {
    font-size: 18.75px;
    color: rgb(143, 152, 160);
}

.forgotPass {
    color: #FFFF;
    margin: 5px;
    font-size: 16.25px;
    text-decoration: none;
}

.forgotPass:hover {
    color: orange;
}

.svg-face {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 10px;
    background-color: #4267B2;
    color: white;
}

.svg-face:hover {
    color: #4267B2;
    background-color: white;
    transition: 0.4s;
    border: 1px #4267B2 solid;
}

.svg-twitter {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 10px;
    background-color: #00ABE3;
    color: white;
    font-size: 20px;
}

.svg-twitter:hover {
    color: #00ABE3;
    background-color: white;
    transition: 0.4s;
    border: 1px #00ABE3 solid;
}

.svg-linkedin {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 10px;
    background-color: #4267B2;
    color: white;
}

.svg-linkedin:hover {
    color: #4267B2;
    background-color: white;
    transition: 0.4s;
    border: 1px #4267B2 solid;
}

.svg-pinterest {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 10px;
    background-color: #CB2027;
    color: white;
}

.svg-pinterest:hover {
    color: #CB2027;
    background-color: white;
    transition: 0.4s;
    border: 1px #CB2027 solid;
}

.svg-youtube {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 10px;
    background-color: #CB2027;
    color: white;
}

.svg-youtube:hover {
    color: #CB2027;
    background-color: white;
    transition: 0.4s;
    border: 1px #CB2027 solid;
}